* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #cacaca;
}

.wrapper {
  width: 100%;
  min-height: 100lvh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.culc-body {
  background: rgb(254, 254, 254);
  background: linear-gradient(140deg, rgb(254, 254, 254) 0%, rgb(249, 249, 249) 13%, rgb(243, 243, 243) 33%, rgb(229, 229, 229) 100%);
  width: 100%;
  max-width: 423px;
  height: 100lvh;
  max-height: 900px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}

.dark-body {
  transition: all 0.5s ease 0s;
  background: rgb(46, 47, 48);
  background: linear-gradient(87deg, rgb(46, 47, 48) 11%, rgb(37, 38, 40) 23%, rgb(0, 3, 9) 100%);
}

.culc-body__form-inp {
  width: 100%;
  height: 70px;
  font-size: 45px;
  display: flex;
  justify-content: end;
  text-align: right;
  background: none;
}

.dark-inp {
  color: #fff;
}

.culc-body__form {
  display: flex;
  flex-direction: column;
}

.culc-body__form-info {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px 34px 20px;
}

.culc-body__form-btns {
  width: 100%;
  max-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding: 24px 34px;
  border-radius: 40px 40px 0px 0px;
  background: rgb(158, 232, 255);
  background: linear-gradient(180deg, rgb(158, 232, 255) 16%, rgb(90, 206, 255) 49%, rgba(121, 175, 255, 0.9303944316) 78%);
  transition: all 0.5s ease 0s;
}

.form-btns__dark {
  transition: all 0.5s ease 0s;
  background: rgb(66, 134, 155);
  background: linear-gradient(87deg, rgb(66, 134, 155) 2%, rgb(42, 125, 161) 28%, rgb(34, 78, 145) 65%, rgb(0, 18, 63) 100%);
}

.btns {
  font-size: 24px;
  font-weight: 700;
  width: 70px;
  height: 70px;
  padding: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease 0s;
}
.btns:hover {
  background-color: rgba(255, 255, 255, 0.789);
}

.btns-block {
  display: grid;
  gap: 25px;
}

.dark-btn > button, .dark-btn > .btns-numbers button {
  transition: all 0.5s ease 0s;
  background-color: hwb(0 2% 98%/0.304);
  color: #ffffff;
}

.dark-btn > .btns-operations button {
  color: #ffffff;
}

.dark-btn .btns-operations, .btns-operations__column.dark-btn {
  background-color: hwb(0 2% 98%/0.304);
}

.btns-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 25px;
}

.btns-operations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease 0s;
}

.btns-operations__column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease 0s;
}

.btns-operations .btns, .btns-operations__column .btns {
  background-color: rgba(255, 255, 255, 0);
}
.btns-operations .btns:hover, .btns-operations__column .btns:hover {
  background-color: rgba(255, 255, 255, 0.789);
}

.culc-body__form-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 0 1 100%;
}

.block-theme {
  width: 122px;
  height: 44px;
  border-radius: 40px;
  background-color: #A9DCFD;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.6s ease 0s;
}

.block-theme__dark {
  background-color: #1B6A9C;
}

.block-theme__bg {
  position: absolute;
  top: 0;
  right: 54px;
  width: 68px;
  height: 100%;
  border-radius: 40px;
  background: #D8EEFF no-repeat;
  transition: all 0.3s ease 0s;
  border: 1px solid rgba(0, 0, 0, 0);
}

.dark {
  position: absolute;
  top: 0;
  right: 0;
  width: 68px;
  height: 100%;
  background: #003661 no-repeat;
  transition: all 0.5s ease 0s;
}

.btn-theme {
  width: 100%;
  background: none;
  padding: 7px 17px;
  border-radius: 40px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history-btn {
  width: 30px;
  height: 30px;
}

.sun-path__dark path {
  transition: all 0.7s ease 0s;
  fill: rgba(251, 251, 251, 0.4);
}

.moon-path__dark path {
  transition: all 0.7s ease 0s;
  fill: hsla(0, 0%, 98%, 0.8);
}/*# sourceMappingURL=style.css.map */